* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.board-container {
    margin: 40px auto;
    background-color: #0ea5e9;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 315px;
    height: 315px;
    align-items: center;
    justify-content: center;
    border: 2px solid #0ea5e9
}

.tile {
    background-color: beige;
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    color: rgb(165, 34, 34);
}